.container {
  width: 100%;
  margin: 0 auto;
  @media screen and (min-width: 360px) {
    width: 320px;
  }
  @media screen and (min-width: 480px) {
    width: 440px;
  }
  @media screen and (min-width: 768px) {
    width: 720px;
  }
  @media screen and (min-width: 1024px) {
    width: 986px;
  }
}
