.trips-container {
  display: inline-flex;
  gap: 30px;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 20px auto;
  overflow-x: scroll;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 7px 4px 14px rgba(0, 0, 0, 0.11);
  @media screen and (min-width: 480px) {
    width: 440px;
  }
  @media screen and (min-width: 480px) {
    width: 400px;
  }
  @media screen and (min-width: 768px) {
    width: 700px;
  }
  @media screen and (min-width: 1024px) {
    width: 790px;
  }
}
.trips-list {
  display: flex;
  gap: 30px;
  margin: 0px auto;
}
.trips-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  width: 200px;
  border: 1px solid grey;
  margin: 0px auto;
  background-color: white;
}
.trips-item.active {
  background-color: lightblue;
}

.trips-item__picture {
  width: 200px;
  height: 200px;
  background-color: grey;
}
.trips-item__date {
  margin-bottom: 10px;
}
