.weather-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 30px auto;
}
.weather-item {
  width: 100px;
}
.weather-item__icon {
  width: 40px;
  height: 40px;
}
