.main-page {
  display: flex;
  margin: 0 auto;
  gap: 30px;
  flex-direction: column-reverse;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}
.main-page__content {
  display: flex;
  flex-direction: column;
}
.main-page__aside {
  display: flex;
  flex-direction: column;
}
.main-page__trips-action {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
